@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #0d1117;
  --color-foreground: #161b22;
  --color-border: #30363d;
  --color-text: #c9d1d9;
  --color-primary: #58a6ff; /* Blue */
  --color-accent: #39d353; /* Green */
}

body {
  background-color: var(--color-background);
  /*
    Se aplican múltiples gradientes radiales para un efecto de "aurora".
    Cada gradiente es un resplandor de color (azul y verde) muy difuminado
    y semitransparente sobre el fondo oscuro base.
  */
  background-image:
    /* Resplandor azul (primary) en la esquina superior izquierda */
    radial-gradient(at 0% 0%, rgba(0, 52, 209, 0.15) 0px, transparent 40%),
    /* Resplandor verde (accent) más grande y notorio en la esquina inferior derecha */
    radial-gradient(at 90% 95%, hsla(135, 65%, 46%, 0.2) 0px, transparent 60%);

  background-attachment: fixed;
  color: var(--color-text);
  font-family: 'VT323', monospace;
}

.bg-grid {
  /* Se elimina el color de fondo de la rejilla para que el gradiente del body sea visible */
  background-image: linear-gradient(rgba(50, 54, 61, 0.5) 1px, transparent 1px),
    linear-gradient(to right, rgba(50, 54, 61, 0.5) 1px, transparent 1px);
  background-size: 40px 40px;
}
